page-home {
.background-home{
        // background:#1a0a3a;
        color:snow;
        // background:#fdfff0;
        background: #ffffff;;
        // background:#f5f5f5;

    
}
.content-home{
    width: 100%;
    height: 100%;
    border-radius:10px;
    box-shadow: 0px 0px 5px rgba(173, 173, 173, 0.5);
    // background: lighten(rgba(173, 173, 173, 0.5),30%);
    position: relative;
    overflow: hidden; 
}
.menu-top{
    position: absolute;
    width: 100%;
    height: 100%;
    

}
.bg-dash{
    // background-color: #89f8ce67;
    background-color: #cdffeb;
    border-style: solid;
    border-width: 3px;
    border-color: snow;
    width: 350px;
    height: 300px;
    position: relative;
    right: -15px;
    border-radius: 10px;
    padding-top:80px;
    top:10px;
    

}
.pf-user{
    background-color: #a0e418;
    width: 40px;
    height: 40px;
    border-radius: 50px; 
    position: relative;
    left: 5%;
    top: -2%;
    border-style: solid;
    border-width: 3px;
    border-color: snow;
}
.menu-home-active{
    position: relative;
    // background-color: snow;
    left: 20%;
    height: 212px;
    width: 200px;
    border-radius: 3px
}    
.p-text{
    color: snow;
    position: relative;
    bottom: -82%;
    left: 45%;
}
.p-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 42%;
    top:63%;


}
.top-title{
    color:grey;
    position: relative;
    left:20%;
    top: 30px;
}
.top-title2{
    color:grey;
    position: relative;
    top:5px;
    left: 20px;
}

.menu-home-active2{
    // background-color:#75c32c;
    // background-color:#a1dd70;
    // background-color:#f1b963;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 250, 250, 0.39);
    background-color:#a0e418;
    height: 30px;
    //width: 170px;
    position: relative;
    top: -73px;
    border-radius: 50px

    

}
.menu-home-close{
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 250, 250, 0.39);   
    background-color: #e7e7e7;
    height: 30px;
    //width: 170px;
    border-radius: 50px;
    position: relative;
    top: -73px;

}
.bg-slide{
    border-style: solid;
    border-width: 3px;
    // border-color:rgba(255, 250, 250, 0.200);  
    // background-color: #52505055;
    // background-color:#cdffeb;
    background-color: #525050;
    width: 30%;
    height: 80%;
    border-radius: 15px;
    position: relative;
    left: 4%;
    top: 5%; 
}
.edt-slie{
    height: 30% ; 
    width: 100%;

}
.btn_a{
    position: relative;
    top:-4%;
}

}
