

<ion-content padding class="background-home">
  <div class="content-home">
  <h5 class="top-title">Your Dashboard</h5>
  <div class="pf-user"></div>
  <!---- dash borad ----->  
  <div class="bg-dash">
      <div class="menu-home-active">
          <img class="menu-top" src="./assets/icon/tree-motion.svg">
          <img class="p-icon" src="./assets/icon/drops-motion1.svg">
          <span class="p-text">25%</span>
      </div>
 </div>
  
  <!-- title -->
  <h5 class="top-title2">Day</h5>
  <!-- <h5 class="top-title3">all see</h5> -->
<!-- slind -->
  <ion-slides slidesPerView="2.5" spaceBetween="10px" class="edt-slie">
      <ion-slide class="bg-slide">
        <div class="menu-home-active2">
            <span>Monday</span>
            <br>
            <br>

            <!-- <img style="size:90px" src="./assets/icon/cloud.svg"> -->
            <span>10°-19°</span> 
        </div>
      </ion-slide>
      <ion-slide class="bg-slide">
        <div class="menu-home-close">            
          <span>Tuesday</span>
          <br>
          <br>

          <span>3°-7°</span> 
        </div>
      </ion-slide>
      <ion-slide class="bg-slide">
        <div class="menu-home-close">          
          <span>Wednesday</span>
          <br>
          <br>

          <span>7°-11°</span>
        </div>
      </ion-slide>
      <ion-slide class="bg-slide">
        <div class="menu-home-close">          
          <span>Thursday</span>
          <br>
          <br>

          <span>14°-38°</span></div>
      </ion-slide>
      <ion-slide class="bg-slide">
        <div class="menu-home-close">
            <span>Friday</span>
            <br>
            <br>
 
            <span>1°-11°</span>
        </div>
      </ion-slide>
      <ion-slide class="bg-slide">
          <div class="menu-home-close">
              <span>Saturday</span>
              <br>
              <br>

              <span>12°-17°</span>
          </div>
      </ion-slide>
      <ion-slide class="bg-slide">
          <div class="menu-home-close">
              <span>Sunday</span>
              <br>
              <br>

              <span>10°-35°</span>
          </div>
      </ion-slide>
  </ion-slides>

<div padding class="btn_a" > 
  <button ion-button color="secondary" block (click)="doConfirm()">Show Confirm Alert</button>
</div> 
</div>
</ion-content>
